@import url("font.css");

@font-face {
  font-family: 'Fira';
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

 /* solution to the resize issue*/
.sol{
  min-width: 1500px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#rank{
	display:none;
}
#filt{
	margin-top:10px;
}
.DTin{
	margin-top:10px;
	text-align:center;
}

sup {
    vertical-align: super;
    font-size: 10px;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close, .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.close:hover, .close:focus, .close2:hover, .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#analysis{
  padding-bottom: 20px;
}
#Up, #Up2, #Up3{
	padding-bottom: 0px;
	font-size: 16px;
}
#menu{
	font-size: 16px;
}
#menu a:hover {
    color: #66FCF1!important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: rgb(17, 213, 248);
  padding-left: 10px;

}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: rgb(17, 213, 248);
  padding-right: 5px;
}

#tab1_secondplot, #tab1_thirdplot{
  margin: auto;
  margin-bottom: 10px;

}
.step1, .step2{
  margin-bottom: 70px;
}
.bg-nav{
	background-color: #0B0C10;
}
.navbar{
	line-height: 0.8!important;
}

.onback{
	color: white;
	font-size: 16px;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
tbody .rowev{
 background: #bddcf5!important;
}
tbody .cellev{
 background: #91c5ee;
}
.btn-primary {
	background-color:#1F2833 !important;
	border-color: #45A29E !important;
	border-width: 3px;
}

#customtest, #idtest, #bedtest {
	background-color: #5d7fa8 !important;
	border: none !important;
	font-size: 14px !important;
}

.paginate_button{
 padding: 3px;
 margin: 3px;
}
strong {
  font-weight:bold;
}
#idlist, #bedfile,#custom{
  cursor:pointer;
}

p{
	font-size: 16px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
body {
 min-width:750px;
 font-family: Fira;
 padding-top: 70px;
 /*background with a fixed image:*/
 background-image: url("../pics/am.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

 }

 /*Change the color of the radio button */
 input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#45A29E;
}
 
 
 
 
.form-control{
	font-size: 14px;
	margin: 20px 5px 20px 5px;
}
.jumbotron{
	background: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
}
.brand-name {
	font-size: 40px;
	color: #66FCF1!important;
}
.radio{
	font-size: 14px;
	
}
.alert{
	font-size: 16px;
	margin-top: 20px;
}
.ultrack
{
	margin-bottom: 5px;
}
.ultrack2
{
	margin-bottom: 20px;
}
table.gtable {
	border: 0px;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: auto !important;
	white-space: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
table {
	table-layout: fixed;
  	width: 100% !important;
	font-size: 16px;
	margin: 0 auto;
	clear: both;
	border-collapse: collapse;
}

#gtable_paginate{
	margin-right: 600px;
}
#gtable td{
	cursor: pointer;
}
.resize{
  	font-size: 15px;
}

td {
 	overflow: hidden;
 	text-overflow: ellipsis;
}
div.tspaced {
	padding-top: 20px;
}
div.ftspaced {
	float: left;
	margin-top: 200px;
}
div.lspaced {
	float: left;
	margin-left: 20px;
}
div.ltspaced {
	float: left;
	margin-left: 20px;
	padding-top: 20px;
}
div.floating {
	float: left;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 40px;

}
div.am-row{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 20px;
	margin-left: 20px;
	vertical-align: top;
	opacity: 90%;
}
div.am-row2{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 29.175px;
	margin-left: 70.825px;
	vertical-align: top;
}
div.am-col{
	display: inline-block;
	margin-left: 20px;
	margin-right: 60px;
	vertical-align: top;
}
div.linemember{
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}
div.box{
	height:30px;
	background-color: #66FCF1;
	text-align: center;
	border: 1px solid #1F2833;
}
div.boxd{
	height:30px;
	background-color: #66FCF1;
	text-align: center;
	border: 1px solid #1F2833;
}
div.boxm{
	height:30px;
	background-color: #1F2833 ;
	text-align: center;
}
div.button{
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: top;
	padding-top: 0px;
}
div.block hr {
	display: block;
	clear: left;
	margin: -0.66em 0;
  	visibility: hidden;
}
div.am-side-framed{
	margin-left: 20px;
	margin-right: 20px;
}
div.am-tabcontainer-frame {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
}

div.genePlot{
	width: 600px;
	height: 250px;
}

/* Drawers */

.drawer_header,#AboutAnno, #AboutEnrich {
	text-align: center;
	color:#ffff;
	cursor: pointer;
	cursor: hand;
	height: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #0B0C10;
	border-radius: 6px;
	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	-khtml-border-radius: 6px;
}
.drawer_header h5 {
	margin: 20px 0px 24px 0px;
	font-size: 24px;
	display: inline-block;

}
.drawer_body {
	/*padding: 0px 20px 20px 20px;*/
	margin-top: 25px;

}
.progress{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px!important;
}
.carousel-content {
	position: absolute;
	z-index: 10;
	padding-top: 20px;
	text-align: center;
  bottom: 150px;
  left: 10%;
  right: 10%;
  color: white;
}

/* Upload */

.fileUpload {
	position: relative;
 	overflow: hidden;
	margin: 0px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	opacity: 0;
}