</br></br></br></br>
<div class="container-fluid" style="color: #1F2833;">
	<div class="row" style="color: #1F2833;">
		<p class="col" style="text-align: center; color: #C5C6C7;">Copyright © IBDM, Marseille 2020</p>
	</div>
</div>