<!--navbar definition-->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-nav" style="padding-bottom: 0.1rem !important; padding-top: 0.1rem !important">
    <img src="pics/logo.png" style="width:100px;height:50px;"> 
    <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link brand-name" href="index.html" style="font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; padding-left: 32px">AnnoMiner</a>
		</li>
    </ul>
       <!--    <img src="pics/logo.png" style="width:100px;height:50px;"> 
	   <!-- Toggler/collapsibe Button -->
    <button class='navbar-toggler' type="button" data-toggle="collapse" data-target="#menu">
    <span class="navbar-toggler-icon"></span>
    Menu
    </button>
    <!--definition of navbar menu-->
    <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link"  href="annominer.html" style="font-size: 25px;margin-right: 15px">ANALYSIS</a>
        </li>
 <!--        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" style="font-size: 25px;margin-right: 15px" data-toggle="dropdown">BATCH</a>
            <div class="dropdown-menu">
                <a href="batchUpload.html" class="dropdown-item">Batch upload</a>
                    <div class="dropdown-divider"></div>
                <a href="batchEnrich.html"class="dropdown-item">Batch enrichment</a> 
            </div> 
        </li> 
        <li class="nav-item active">
            <a class="nav-link" href="batchUpload.html" style="font-size: 25px;margin-right: 15px">BATCH</a>
        </li> -->
        <li class="nav-item active">
			<a class="nav-link" href="tutorial.html" style="font-size: 25px;margin-right: 15px">TUTORIAL</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="about.html" style="font-size: 25px;margin-right: 15px">ABOUT</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="contact.html" style="font-size: 25px;margin-right: 15px">CONTACT</a>
		</li>
    </ul>
    </div>
</nav>

<!--end of navbar definition-->
