table.gtable {
	 border: 0px;
	 padding: 0px;
	 margin: 0px;
	 width: 300px;
	 text-align: left;
	 font-size: 14px
}
table {
	font-size: 14px
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
}
td { 
 overflow: hidden;
 text-overflow: ellipsis; 
}
div.tspaced {
	padding-top: 20px;
}
div.ftspaced {
	float: left;
	margin-top: 200px;
}
div.lspaced {
	float: left;
	margin-left: 20px;
}
div.ltspaced {
	float: left;
	margin-left: 20px;
	padding-top: 20px;
}
div.floating {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 40px;
	
}
div.am-row{
	margin-top: 50px;
	margin-bottom: 50px;
	vertical-align: top;
}
div.am-col{	
	display: inline-block;
	margin-left: 0px;
	margin-right: 60px;
	vertical-align: top;
}
div.linemember{
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}
div.button{
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: top;
	padding-top: 28px;
}
div.block hr {
	display: block;
	clear: left;
	margin: -0.66em 0;
  	visibility: hidden;
}
div.am-side-framed{
	margin-left: 20px;
	margin-right: 20px;
}
div.am-tabcontainer-frame {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
}

/* Drawers */

.drawer_header { 
	cursor: pointer;
	cursor: hand;
	height: 50px;
	padding: 0px 15px 0px;
	margin-top: 15px;
	margin-bottom: 0px;
    /*vertical-align: middle;*/
	
	border: 1px solid #6ca6d1;
	background-color: #eaf4fd;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
}
.drawer_header h4 {
	margin: 14px 5px;
	color: #2e6e9e;
	vertical-align: top;
	display: inline-block;
    
}
.drawer_body {
	padding: 20px 20px 20px 20px;
	margin-top: 0px;
	
	border: solid #6ca6d1;
	border-top: 0px;
	border-radius: 6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
}
.progress{
	display: inline-block;
	margin: 9px 2px 0px;
	padding-top: 0px;
}


/* Upload */

.fileUpload {
	position: relative;
 	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}






